
.preview-container {
    margin-bottom: 25px;
    position: relative;

    .row {
        .preview-school-list {
            border: 1px solid rgba(0,0,0,0.08);
            max-height: 70vh;
            overflow: auto;
        }
    }

    .school-count {
        color: rgba(0,0,0,0.4);
        font-size: 13px;
        position: absolute;
        text-align: right;
        top: -20px;

        .number {
            font-weight: 600;
        }
    }
}

.nav-button {
    &.send,
    &.sending {
        border-color: rgba(37, 89, 132, 0.2)
    }

    &.sending {
        background-color: rgb(239, 239, 239);
        color: #c0c0c0;
        display: inline-block;
        font-weight: 500;
        padding-left: 28px;

        &:hover {
            border-color: rgba(37, 89, 132, 0.2);
            color: #c0c0c0;
            text-shadow: none;
        }

        .icon {
            --fa-primary-opacity: 0.4;
            --fa-secondary-opacity: 0.4;
        }
    }
}

.error {
    align-items: center;
    background-color: lightgoldenrodyellow;
    border: 1px solid darkred;
    border-radius: 5px;
    box-shadow: 0 0 5px 0px rgb(0 0 0 / 40%);
    color: darkred;
    display: flex;
    margin: 0 auto 30px;
    padding: 10px 20px;
    max-width: 80%;

    .icon {
        margin-right: 10px;
    }

    .text {
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.success {
    color: mediumseagreen;
    margin: 0 0 30px 0;
    text-align: center;

    h4 {
        display: inline-block;
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        text-transform: uppercase;
    }

    .fad {
        --fa-primary-color: #255984;
        --fa-secondary-color: dodgerblue;
        --fa-secondary-opacity: 0.6;
        margin-right: 5px;
    }
}

.emails-loading {
    background: rgba(255,255,255,0.95);
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    display: block;
    left: 35%;
    min-width: 20%;
    padding: 13px 20px;
    position: fixed;
    top: 130px;
    z-index: 99999;

    .spinner {
        --fa-primary-color: #0C6288;
        --fa-secondary-color: #0C6288;
    }

    .text {
        color: #f47920;
        display: inline-block;
        font-weight: 600;
        position: relative;
        padding: 0 0 0 10px;
        top: -5px;
    }
}

.school-item-preview {
    cursor: pointer;
    padding: 4px 10px;

    .school {
        display: block;
        font-size: 18px;
        font-weight: bold;
    }

    .coach {
        display: block;
        font-size: 14px;
        font-weight: normal;
        position: relative;
        top: -5px;
        left: 3px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.02);
    }
}

.preview-pane {
    background-color: rgba(255,255,255,0.9);
    border: 1px solid #888;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.4);
    display: block;
    padding: 20px;

    .email-header {
        font-size: 14px;
        margin-bottom: 30px;

        label {
            color: #000;
            display: inline-block;
            font-weight: 600;
            margin: 0;
            width: 18%;
        }

        .header-item {
            display: inline-block;
        }
    }

    .email-body {
    }


    .coach-button {
        background-color: silver;
        color: #000;
        font-weight: 500;

        &.hover-val {
            background-color: #fff !important;
            //color: #555559!important;
            //font-weight: 400!important;
        }
    }
}
