
.add-new {
    margin-bottom: 10px;
    text-align: right;
    //min-width: 750px;

    .icon {
        margin-right: 5px;
    }

    button {
        background-color: rgba(12, 99, 136, 0.8);
        border: 1px solid rgba(12, 99, 136, 0.4);
        font-size: 14px;

        &.btn-primary:hover {
            background-color: rgba(12, 99, 136, 0.7);
        }

        &.btn-primary:focus, &.btn-primary.focus {
            background-color: rgba(12, 99, 136, 0.7);
            border-color: rgba(12, 99, 136, 0.4);
            box-shadow: 0 0 0 0.2rem rgba(12, 99, 136, 0.30);
        }

        &.btn-primary:not(:disabled):not(.disabled):active {
            background-color: rgba(12, 99, 136, 0.9);
            border: 1px solid rgba(12, 99, 136, 0.5);
        }
    }
}

.sort {
    margin-left: 10px; 

    .label {
        color: rgba(0,0,0,0.4);
        font-size: 13px;
    }

    select {
        font-size: 14px;
        padding: 2px 4px;
    }

    .count {
        color: rgba(0,0,0,0.4);
        font-size: 13px;
        margin-left: 25px;

        .number {
            font-weight: 600;
        }
    }
}

.school-list {
    display: inline-grid;
    grid-gap: 0;
    grid-template-columns: repeat(5, auto);

    .row-wrapper {
        display: contents;

        &:hover > div {
            background-color: rgba(0, 0, 0, 0.02);
        }
    }

    .grid-header {
        color: rgba(0, 0, 0, 0.6);
        font-size: 13px;
        padding: 6px 10px;
        text-transform: uppercase;
    }

    .school-list-action-header {
        display: flex;
        flex-flow: row;
        grid-column: 1 / span 5;
        justify-content: space-between;
    }

    .grid-item {
        color: rgba(0, 0, 0, 0.7);
        padding-bottom: 10px;

        .edits {
            display: none;
            position: relative;
            top: -7px;

            label {
                color: #888;
                display: block;
                font-size: 10px;
                font-weight: 500;
                margin: 0 0 -2px 2px;
                text-transform: capitalize;
            }

            input[type="text"] {
                font-size: 14px;

                &.full-width {
                    min-width: 300px;
                    width: 100%;
                }
            }
        }

        &.school {
            font-weight: 600;
            padding-left: 10px;
            padding-right: 40px;
            text-transform: uppercase;

            .short-name {
                color: rgba(0,0,0,0.4);
                display: block;
                font-size: 14px;
                font-weight: 600;
                margin-top: -3px;
                padding-left: 3px;
            }
        }

        &.coach {
            font-size: 15px;
            padding-right: 30px;

            .email,
            .phone {
                color: rgba(0, 0, 0, 0.5);
                display: block;
                font-size: 14px;
                margin-top: -2px;
            }
        }

        &.enabled {
            padding-right: 40px;

            .custom-control {
                position: relative;
                top: 10px;

                label {
                    color: rgba(0, 0, 0, 0.5);
                    font-size: 14px;
                    left: 0;
                    position: relative;
                }
            }

            .custom-control-input:checked ~ .custom-control-label::before {
                border-color: #0C6288;
                background-color: #0C6288;
            }
        }

        &.actions {
            padding-right: 40px;

            .icons {
                display: block;
                position: relative;
                top: 8px;

                .icon {
                    --fa-primary-color: #255984;
                    --fa-secondary-color: #255984;
                    cursor: pointer;

                    &.edit {
                        --fa-primary-color: #f47920;
                        --fa-secondary-opacity: 0.8;
                        margin-right: 12px;

                        &:hover {
                            text-shadow: 0 0 2px rgba(244, 121, 32, 0.8);
                        }
                    }

                    &:hover {
                        text-shadow: 0 0 1px rgba(37, 89, 132, 0.8);
                        text-decoration: none;
                    }

                    &.save {
                        font-size: 19px;
                        margin-right: 12px;
                        position: relative;
                        top: 1px;

                        &:hover {
                            text-shadow: 0 0 2px rgba(244, 121, 32, 0.8);
                        }
                    }

                    &.close-edit {
                        --fa-primary-color: darkred;
                        --fa-secondary-color: #f47920;
                        //left: -15px;
                        font-size: 20px;
                        float: none;
                        left: 12px;
                        position: relative;
                        top: 2px;

                        &:hover {
                            --fa-secondary-color: #d66614 !important;
                            text-shadow: none;
                        }
                    }
                }
            }


            &.new-school-actions {
                .icons {
                    .icon {
                        &.close {
                            --fa-primary-color: darkred;
                            --fa-secondary-color: #f47920;
                            //left: -15px;
                            float: none;
                            top: 3px;
                            position: relative;

                            &:hover {
                                --fa-secondary-color: #d66614 !important;
                                text-shadow: none;
                            }
                        }
                    }

                    .saving {
                        position: relative;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }

        &.timestamp {
            color: rgba(0, 0, 0, 0.3);
            font-size: 13px;
            padding: 10px 5px 0 0;
            //vertical-align: middle;
        }
    }

    .saving {
        font-size: 13px;
        font-weight: 500;
        margin-left: 12px;
        text-transform: uppercase;
        position: absolute;
        left: -15px;
        top: 23px;
        white-space: nowrap;
    }
}

.modal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                text-align: center;

                img {
                    width: 300px;
                }
            }
        }
    }
}
