@import 'variables';

$nav-bg-color: #fff;

$nav-user-color: #0C6288;
$nav-user-login-font-color: rgba(255,255,255,0.7);
$nav-user-logout-font-color: rgba(0,0,0,0.7);

$user-img-height: 75px;
//$user-img-shadow-overhang-height: calc((#{$user-img-height} - #{$header-height}) + 3px);
$user-img-shadow-overhang-height: 20px;
// snow colors
// Navy:  #003057
// Orange:  #F47920
// Accent Orange: #FAA634
//@font-face {
//    font-family: 'Snow College Badgers';
//    src: local('../font/Snow_College_Badgers.otf');
//}

header {
    background-color: $nav-bg-color!important;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    //box-shadow: 0 0px 6px -3px rgb(0 0 0 / 20%);
    box-shadow: 0 0 6px -3px rgba(0,0,0,0.2);
    //height: $header-height;
    margin-bottom: $header-margin;
}

nav.navbar {
    padding: 4px 0 0 0;

    .navbar-brand {
        color: #003057;
        display: block;
        //font-family: 'Snow College Badgers';
        font-family: Lato, Roboto, 'Open Sans';
        line-height: normal;
        margin: 0 10px 0 0;
        padding: 0 0 6px 42px;
        position: relative;
        text-align: right;
        text-shadow: 0 0 2px rgba(0,0,0,0.4);

        .coach {
            color: #f47920;
            display: block;
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .emailer {
            color: #003057;
            display: block;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 8px;
            margin-right: -6px;
            margin-top: -5px;
            text-transform: lowercase;
        }

        img {
            filter: invert(10%) sepia(70%) saturate(4000%) hue-rotate(195deg) brightness(50%) drop-shadow(0 0 2px #f47920);
            left: 0;
            position: absolute;
            top: 6px;
            transform: rotate(4deg);
            width: 45px;
            //https://codepen.io/sosuke/pen/Pjoqqp
            //filter: sepia(70%) brightness(90%) contrast(90%) hue-rotate(190deg) saturate(700%);
            //filter: invert(3%) sepia(130%) saturate(5225%) hue-rotate(193deg) brightness(95%) contrast(102%); // navy from black
            //filter:  invert(9%) sepia(77%) saturate(4738%) hue-rotate(193deg) brightness(95%) contrast(102%); // this one comes out light blue for this image
            //snow navy:  #003768
        }
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: normal;
        padding: 12px 10px 0 40px;

        display: none;  // not sure if I like this or not

        a.nav-item {
            border-bottom: 2px solid transparent;
            color: #7c96b1;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.5px;
            padding: 11px 30px 11px;
            //padding: 14px 16px 9px;
            text-align: center;
            text-transform: lowercase;

            &:hover {
                //border-bottom: 2px solid #c3d500;
                border-bottom: 2px solid rgba(78, 161, 198, 0.4);
                color: #70879e;
            }

            &.active {
                border-bottom: 2px solid #e66a6a;
                color: #0C6288;
                cursor: default;
                font-weight: 600;
            }
        }
    }

}

.user {
    color: $nav-user-color;
    padding-top: 2px;

    .account-action {
        display: inline-block;
        //font-family: Roboto;
        margin: 3px 9px 0 0;
        vertical-align: top;

        .name {
            color: $nav-user-color;
            display: block;
            //font-family: Roboto;
            font-size: 14px;
            font-weight: 600;
            //margin-top: 3px;
            text-transform: uppercase;
        }

        .logout {
            color: $nav-user-logout-font-color;
            display: block;
            font-size: 13px;
            margin: -3px 0 0 0;
            text-align: right;

            .far {
                margin-left: 3px;
            }

            &:hover {
                color: #62B0E8;
                text-decoration: none;
                //text-shadow: 0 0 1px rgba(241,91,40,0.2);
                .far {
                    //color: #b44d12;  //red
                    color: #F47920; // snow orange
                }
            }
        }

        .login {
            color: $nav-user-color;
            display: block;
            font-size: 14px;
            font-weight: 600;
            margin: -4px 0 0 0;
            text-align: right;
            text-transform: uppercase;

            .far {
                font-size: 18px;
                margin-left: 3px;
                position: relative;
                top: 1px;
            }

            &:hover {
                color: #62B0E8;
                //text-shadow: 0 0 1px rgba(241,91,40,0.2);
                .far {
                    color: #F47920;
                }
            }
        }
    }

    .user-icon {
        cursor: pointer;
        display: inline;
        margin-right: 65px;

        img {
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 50%;
            display: inline-block;
            height: $user-img-height;
            margin: -10px 0 0;
            overflow: hidden;
            position: absolute;
            //padding: 2px;
            //transform: rotate(10deg);
            transition: all .2s ease;
            vertical-align: inherit;

            &:hover {
                transform: rotate(8deg);
                transition: all .2s ease;
                //background-color: rgba(207,220,66,0.5);
            }
        }

        .img-overhang {
            bottom: calc(#{$user-img-shadow-overhang-height} * -1);
            height: $user-img-shadow-overhang-height;
            overflow: hidden;
            position: absolute;
            width: $user-img-height;

            .img-overhang-shadow {
                align-items: baseline;
                bottom: 6px;
                //border: 1px solid rgba(0,0,0,0.2);
                border-radius: 50%;
                box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.19);
                display: block;
                height: $user-img-height;
                position: absolute;
                width: $user-img-height;
            }
        }
    }
}
