@{
    //    bool showBackHomeChevronLink = this.ViewContext.RouteData.Values["controller"].ToString().ToLowerInvariant() == "home" &&
    //                                   this.ViewContext.RouteData.Values["action"].ToString().ToLowerInvariant() == "index" ?
    //                                   false :
    //                                   true;

    var username = User?.Identity.Name;
    var usericon = User?.Claims.FirstOrDefault(x => x.Type == "urn:google:picture").Value;

}

<header class="card-header fixed-top flex-md-nowrap p-0">
    <nav class="navbar container">

        <a href="#" class="navbar-brand logo">
            COACH EMAIL
            <!-- <img src="~/images/logo-web.png" height="50" /> -->
        </a>


        <div class="user ml-auto">

            <span class="account-action">
                <span class="name">@username</span>
                <a href="logout.html" class="logout">
                    Logout
                    <span class="fal fa-sign-out-alt"></span>
                </a>
            </span>
            <span class="user-icon">
                <img src="@usericon" />
            </span>

        </div>

    </nav>
</header>

<!--<header>
    <nav class="navbar">

        <a href="#" class="navbar-brand">
            <img src="~/images/bug-white.png" />
        </a>

        <button class="navbar-toggler ml-auto" type="button" data-toggle="slide-collapse" data-target="#navbarMenuContent" aria-controls="navbarMenuContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="far fa-bars fa-2x menu-icon"></span>-->
            <!--<span class="far fa-ellipsis-v fa-2x"></span>-->
        <!--</button>

        <div class="collapse navbar-collapse" id="navbarMenuContent">
            <div class="user-info">
                <div class="user-icon"></div>
                <div class="name">James DeSpain</div>
                <span class="company">MetaSource</span>
            </div>
            <div class="navbar-nav">
                <a asp-controller="Home" asp-action="Scan" class="nav-item nav-link active">Scan applications <span class="far fa-barcode-read fa-lg"></span></a>
                <a href="#" class="nav-item nav-link">View Batches <span class="fal fa-layer-group fa-lg"></span></a>
                <a asp-controller="Home" asp-action="LiveScan" class="nav-item nav-link">History <span class="far fa-history fa-lg"></span></a>
                <a asp-controller="Home" asp-action="Test" class="nav-item nav-link">Airport Maps <span class="fal fa-map fa-lg"></span></a>
                <a href="#" class="nav-item nav-link sign-out btn btn-outline-danger">Sign Out</a>
            </div>
        </div>


    </nav>
</header>-->
