@model CoachEmailGenerator.Models.EmailTemplate
@{
    ViewData["Title"] = "Home Page";
    //var pic = User?.Claims.FirstOrDefault(x => x.Type == "urn:google:picture").Value;
}


[TODO:  Instructions]

@foreach (var claim in User.Claims)
{
    <!--<div>
        <span>@claim.Type</span>
        -
        <span>@claim.Value</span>
    </div>-->
}

@if (Context.User.Identity.IsAuthenticated)
{
    <!--<span>Hello @User.Identity.Name</span>-->
}
