@model CoachEmailGenerator.Models.EmailTemplate
@{
    ViewData["Title"] = "email Template";
    var pic = User?.Claims.FirstOrDefault(x => x.Type == "urn:google:picture").Value;
}

<form asp-route="Index" method="post">

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="EmailAddress" />


    <div class="subject-line">
        <label>Email Subject</label>
        <div class="input-group">
            <input type="text" asp-for="EmailSubjectLine" class="form-control subject-line" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary dropdown-toggle coach-button" type="button" data-toggle="dropdown">Coach Info</button>
                <div class="dropdown-menu coach-dropdown">
                    <a class="dropdown-item" href="#">Coach Name</a>
                    <a class="dropdown-item" href="#">School</a>
                    <a class="dropdown-item" href="#">Coach email</a>
                    <a class="dropdown-item" href="#">Coach phone</a>
                    <a class="dropdown-item" href="#">School Name Short</a>
                </div>
            </div>
        </div>
    </div>

    <div class="email-body">
        <label>Email Body</label>
        <textarea asp-for="EmailBody"></textarea>
    </div>

    <div class="buttons row">
        <div class="col text-right">
            <button type="submit" class="nav-button">
                NEXT: Add Schools
                <span class="fad fa-chevron-circle-right fa-lg"></span>
            </button>
        </div>
    </div>
</form>


@section Scripts {
    <script src="~/js/tiny.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {

            $(".coach-dropdown .dropdown-item").on("click", function () {
                var valToInsert = "[" + $(this).text().toUpperCase() + "]";
                var currentVal = $(this).parent().parent().siblings(".subject-line").val();
                $(this).parent().parent().siblings(".subject-line").val(currentVal + " " + valToInsert);

                var strLength = currentVal.length + valToInsert.length + 1;

                $(this).parent().parent().siblings(".subject-line").focus();
                $(this).parent().parent().siblings(".subject-line")[0].setSelectionRange(strLength, strLength);

            });

        });
    </script>
}