@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans:300,400,500,600|Roboto|Merriweather+Sans:300,400,500,600|Titillium+Web:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Kaushan+Script&family=Ma+Shan+Zheng&display=swap");
html {
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(240, 242, 245);
  color: #555559;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100%;
  /*display: flex;
  flex-direction: column;*/
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
}

.body-content {
  padding-top: calc(64px + 10px);
  min-height: calc(100vh - (30px + 20px));
}

a {
  color: #2680c2;
  text-decoration: none;
}
a:hover {
  color: #62B0E8;
  text-decoration: none;
}

.title-row .title {
  font-family: "Kaushan Script", "Ma Shan Zheng", "Berkshire Swash";
  font-size: 20px;
  margin-right: 25px;
  white-space: nowrap;
}
.title-row .title .number {
  color: #F47920;
  display: inline-block;
  font-family: "Merriweather Sans";
  font-size: 100px;
  font-weight: 600;
  line-height: normal;
  text-shadow: 2px 4px rgba(30, 55, 108, 0.7);
}
.title-row .title .text {
  color: #F47920;
  display: inline-block;
  font-size: 50px;
  left: -3px;
  position: relative;
  text-shadow: 2px 1px rgba(30, 55, 108, 0.7);
  top: -2px;
}
.title-row .title span {
  display: block;
  line-height: 43px;
}
.title-row .intro-text {
  font-size: 18px;
  font-weight: 500;
  padding: 5px 20px 0 10px;
  position: relative;
}
.title-row .intro-text a.go {
  border: 1px solid transparent;
  border-radius: 5px;
  bottom: -11px;
  color: #255984;
  font-family: "Lato";
  font-size: 22px;
  font-weight: 600;
  padding: 5px 15px;
  position: absolute;
  right: 17px;
  text-transform: uppercase;
}
.title-row .intro-text a.go:hover {
  border-color: rgba(37, 89, 132, 0.3);
  text-decoration: none;
  text-shadow: 0 0 2px rgba(244, 121, 32, 0.8);
}
.title-row .intro-text a.go:hover span {
  --fa-secondary-opacity: 0.8;
}
.title-row .intro-text a.go span {
  --fa-primary-color: #255984;
  --fa-secondary-color: #f47920;
  --fa-secondary-opacity: 0.6;
  margin-left: 4px;
}

.steps-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 50% 50%;
  padding: 25px 5% 10px;
}
.steps-container .steps {
  margin-top: 10px;
}
.steps-container .steps .icon {
  padding: 5px 15px 5px 5px;
}
.steps-container .steps .icon span {
  background-color: rgba(0, 0, 0, 0.04);
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.6);
  padding: 15px 13px;
}
.steps-container .steps .instructions {
  font-size: 14px;
}
.steps-container .steps .instructions h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}
.steps-container .steps .instructions img.coach-img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  float: right;
  width: 140px;
}
.steps-container .steps .instructions p {
  margin: 7px 0 0 0;
}
.steps-container .steps .next {
  text-align: right;
  width: 100%;
}
.steps-container .steps .next a {
  margin-top: 50px;
}
.steps-container .steps .next a.btn {
  font-weight: 600;
  padding: 10px 20px;
  text-transform: uppercase;
}
.steps-container .steps .next a span {
  margin-left: 10px;
}

header {
  background-color: #fff !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

nav.navbar {
  padding: 4px 0 0 0;
}
nav.navbar .navbar-brand {
  color: #003057;
  display: block;
  font-family: Lato, Roboto, "Open Sans";
  line-height: normal;
  margin: 0 10px 0 0;
  padding: 0 0 6px 42px;
  position: relative;
  text-align: right;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
nav.navbar .navbar-brand .coach {
  color: #f47920;
  display: block;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
nav.navbar .navbar-brand .emailer {
  color: #003057;
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 4px;
  margin-right: -6px;
  margin-top: -5px;
  text-transform: lowercase;
}
nav.navbar .navbar-brand img {
  filter: invert(10%) sepia(70%) saturate(4000%) hue-rotate(195deg) brightness(50%) drop-shadow(0 0 2px #f47920);
  left: 0;
  position: absolute;
  top: 6px;
  transform: rotate(4deg);
  width: 45px;
}
nav.navbar .navbar-nav {
  flex-direction: row;
  justify-content: normal;
  padding: 12px 10px 0 40px;
}
nav.navbar .navbar-nav a.nav-item {
  border-bottom: 2px solid transparent;
  color: #7c96b1;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 11px 30px 11px;
  text-align: center;
  text-transform: lowercase;
}
nav.navbar .navbar-nav a.nav-item:hover {
  border-bottom: 2px solid rgba(78, 161, 198, 0.4);
  color: #70879e;
}
nav.navbar .navbar-nav a.nav-item.active {
  border-bottom: 2px solid #e66a6a;
  color: #0C6288;
  cursor: default;
  font-weight: 600;
}

.user {
  color: #0C6288;
  padding-top: 2px;
}
.user .account-action {
  display: inline-block;
  margin: 3px 9px 0 0;
  vertical-align: top;
}
.user .account-action .name {
  color: #0C6288;
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.user .account-action .logout {
  color: rgba(0, 0, 0, 0.7);
  display: block;
  font-size: 13px;
  margin: -3px 0 0 0;
  text-align: right;
}
.user .account-action .logout .far {
  margin-left: 3px;
}
.user .account-action .logout:hover {
  color: #62B0E8;
  text-decoration: none;
}
.user .account-action .logout:hover .far {
  color: #F47920;
}
.user .account-action .login {
  color: #0C6288;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin: -4px 0 0 0;
  text-align: right;
  text-transform: uppercase;
}
.user .account-action .login .far {
  font-size: 18px;
  margin-left: 3px;
  position: relative;
  top: 1px;
}
.user .account-action .login:hover {
  color: #62B0E8;
}
.user .account-action .login:hover .far {
  color: #F47920;
}
.user .user-icon {
  cursor: pointer;
  display: inline;
  margin-right: 65px;
}
.user .user-icon img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: inline-block;
  height: 75px;
  margin: -10px 0 0;
  overflow: hidden;
  position: absolute;
  transition: all 0.2s ease;
  vertical-align: inherit;
}
.user .user-icon img:hover {
  transform: rotate(8deg);
  transition: all 0.2s ease;
}
.user .user-icon .img-overhang {
  bottom: calc(20px * -1);
  height: 20px;
  overflow: hidden;
  position: absolute;
  width: 75px;
}
.user .user-icon .img-overhang .img-overhang-shadow {
  align-items: baseline;
  bottom: 6px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.19);
  display: block;
  height: 75px;
  position: absolute;
  width: 75px;
}

.status-bar {
  margin-bottom: 20px;
  margin-top: 13px;
  padding-right: 15%;
}
.status-bar .status-item {
  color: silver;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
}
.status-bar .status-item a {
  color: silver;
}
.status-bar .status-item a:hover {
  text-decoration: none;
}
.status-bar .status-item.active {
  color: #0C6288;
  font-weight: 600;
}
.status-bar .status-item.active a {
  color: #0C6288;
}
.status-bar .status-item.active a:hover {
  color: #0C6288;
}
.status-bar .status-item.this {
  color: #000;
  font-weight: 600;
}
.status-bar .status-item.this a {
  color: #000;
}
.status-bar .status-item.this a:hover {
  color: #000;
}
.status-bar .status-item.middle {
  text-align: center;
}
.status-bar .status-item.last {
  text-align: right;
}
.status-bar .status-item:hover {
  color: silver;
  text-decoration: none;
}
.status-bar .status-item.spacer {
  flex: 0;
  padding: 0;
}
.status-bar .status-item.spacer .first-spacer {
  display: inline-block;
  width: 70px;
}
.status-bar .status-circle {
  color: #dadada;
  flex: 0;
  padding: 0 6px;
}
.status-bar .status-circle.active {
  color: #e66a6a;
}
.status-bar .status-circle .icon {
  font-size: 10px;
}
.status-bar .status-circle.last {
  margin-right: 55px;
}
.status-bar .status-circle:hover {
  text-decoration: none;
}
.status-bar .status-line {
  border-top: solid 2px #dadada;
  flex: 1;
  margin-bottom: -13px;
  margin-top: 13px;
}
.status-bar .status-line.active {
  border-color: #e66a6a;
}
.status-bar .status-line.first {
  flex: 0;
}
.status-bar .status-line .first-spacer {
  display: inline-block;
  width: 90px;
}

.subject-line {
  margin: 0 0 10px 0;
}
.subject-line .input-group {
  margin: 0;
}

label {
  font-size: 14px;
  margin: 0 0 0 3px;
}

.btn-outline-secondary {
  border-color: #ced4da;
}

.school-list {
  display: inline-grid;
  grid-gap: 0;
  grid-template-columns: repeat(5, auto);
}
.school-list .row-wrapper {
  display: contents;
}
.school-list .row-wrapper:hover > div {
  background-color: rgba(0, 0, 0, 0.02);
}
.school-list .grid-header {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  padding: 6px 10px;
  text-transform: uppercase;
}
.school-list .school-list-action-header {
  display: flex;
  flex-flow: row;
  grid-column: 1/span 5;
  justify-content: space-between;
}
.school-list .school-list-action-header .sort {
  margin-left: 10px;
}
.school-list .school-list-action-header .sort .label {
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
}
.school-list .school-list-action-header .sort select {
  font-size: 14px;
  padding: 2px 4px;
}
.school-list .school-list-action-header .sort .count {
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  margin-left: 25px;
}
.school-list .school-list-action-header .sort .count .number {
  font-weight: 600;
}
.school-list .school-list-action-header .enable {
  align-items: center;
  display: flex;
  font-size: 12px;
  flex: 1;
  justify-content: flex-end;
  margin-right: 80px;
  position: relative;
}
.school-list .school-list-action-header .enable .separator {
  color: lightgray;
  display: flex;
  margin: 0 4px 4px;
}
.school-list .school-list-action-header .enable .saving {
  bottom: -4px;
  color: #62B0E8;
  left: auto;
  right: 25px;
  text-align: right;
  top: auto;
}
.school-list .school-list-action-header .enable .saving .icon {
  color: #F47920;
}
.school-list .school-list-action-header .add-new {
  margin-bottom: 10px;
  text-align: right;
}
.school-list .school-list-action-header .add-new .icon {
  margin-right: 5px;
}
.school-list .school-list-action-header .add-new button {
  background-color: rgba(12, 99, 136, 0.8);
  border: 1px solid rgba(12, 99, 136, 0.4);
  font-size: 14px;
}
.school-list .school-list-action-header .add-new button.btn-primary:hover {
  background-color: rgba(12, 99, 136, 0.7);
}
.school-list .school-list-action-header .add-new button.btn-primary:focus, .school-list .school-list-action-header .add-new button.btn-primary.focus {
  background-color: rgba(12, 99, 136, 0.7);
  border-color: rgba(12, 99, 136, 0.4);
  box-shadow: 0 0 0 0.2rem rgba(12, 99, 136, 0.3);
}
.school-list .school-list-action-header .add-new button.btn-primary:not(:disabled):not(.disabled):active {
  background-color: rgba(12, 99, 136, 0.9);
  border: 1px solid rgba(12, 99, 136, 0.5);
}
.school-list .grid-item {
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 10px;
}
.school-list .grid-item .edits {
  display: none;
  position: relative;
  top: -7px;
}
.school-list .grid-item .edits label {
  color: #888;
  display: block;
  font-size: 10px;
  font-weight: 500;
  margin: 0 0 -2px 2px;
  text-transform: capitalize;
}
.school-list .grid-item .edits input[type=text] {
  font-size: 14px;
}
.school-list .grid-item .edits input[type=text].full-width {
  min-width: 300px;
  width: 100%;
}
.school-list .grid-item.school {
  font-weight: 600;
  padding-left: 10px;
  padding-right: 40px;
  text-transform: uppercase;
}
.school-list .grid-item.school .short-name {
  color: rgba(0, 0, 0, 0.4);
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-top: -3px;
  padding-left: 3px;
}
.school-list .grid-item.coach {
  font-size: 15px;
  padding-right: 30px;
}
.school-list .grid-item.coach .email,
.school-list .grid-item.coach .phone {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  font-size: 14px;
  margin-top: -2px;
}
.school-list .grid-item.enabled {
  padding-right: 40px;
}
.school-list .grid-item.enabled .custom-control {
  position: relative;
  top: 10px;
}
.school-list .grid-item.enabled .custom-control label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  left: 0;
  position: relative;
}
.school-list .grid-item.enabled .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #0C6288;
  background-color: #0C6288;
}
.school-list .grid-item.actions {
  padding-right: 40px;
}
.school-list .grid-item.actions .icons {
  display: block;
  position: relative;
  top: 8px;
}
.school-list .grid-item.actions .icons .icon {
  --fa-primary-color: #255984;
  --fa-secondary-color: #255984;
  cursor: pointer;
}
.school-list .grid-item.actions .icons .icon.edit {
  --fa-primary-color: #f47920;
  --fa-secondary-opacity: 0.8;
  margin-right: 12px;
}
.school-list .grid-item.actions .icons .icon.edit:hover {
  text-shadow: 0 0 2px rgba(244, 121, 32, 0.8);
}
.school-list .grid-item.actions .icons .icon:hover {
  text-shadow: 0 0 1px rgba(37, 89, 132, 0.8);
  text-decoration: none;
}
.school-list .grid-item.actions .icons .icon.save {
  font-size: 19px;
  margin-right: 12px;
  position: relative;
  top: 1px;
}
.school-list .grid-item.actions .icons .icon.save:hover {
  text-shadow: 0 0 2px rgba(244, 121, 32, 0.8);
}
.school-list .grid-item.actions .icons .icon.close-edit {
  --fa-primary-color: darkred;
  --fa-secondary-color: #f47920;
  font-size: 20px;
  float: none;
  left: 12px;
  position: relative;
  top: 2px;
}
.school-list .grid-item.actions .icons .icon.close-edit:hover {
  --fa-secondary-color: #d66614 !important;
  text-shadow: none;
}
.school-list .grid-item.actions.new-school-actions .icons .icon.close {
  --fa-primary-color: darkred;
  --fa-secondary-color: #f47920;
  float: none;
  top: 3px;
  position: relative;
}
.school-list .grid-item.actions.new-school-actions .icons .icon.close:hover {
  --fa-secondary-color: #d66614 !important;
  text-shadow: none;
}
.school-list .grid-item.actions.new-school-actions .icons .saving {
  position: relative;
  top: 0;
  left: 0;
}
.school-list .grid-item.timestamp {
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  padding: 10px 5px 0 0;
}
.school-list .saving {
  font-size: 13px;
  font-weight: 500;
  margin-left: 12px;
  text-transform: uppercase;
  position: absolute;
  left: -15px;
  top: 23px;
  white-space: nowrap;
}

.modal .modal-dialog .modal-content .modal-body {
  text-align: center;
}
.modal .modal-dialog .modal-content .modal-body img {
  width: 300px;
}

.form-group {
  position: relative;
}
.form-group label {
  font-size: 16px;
  margin-left: 5px;
}
.form-group .results-count {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  position: absolute;
  right: 5px;
}
.form-group .results-count .count {
  font-weight: 600;
}

.result-row {
  color: rgba(0, 0, 0, 0.7);
  display: block;
}
.result-row .school {
  align-items: flex-end;
  display: flex;
}
.result-row .school .full-name {
  font-size: 16px;
  font-weight: 600;
}
.result-row .school .short-name {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 600;
  margin-top: -3px;
  padding-left: 10px;
}
.result-row .school .right-content {
  margin-left: auto;
}
.result-row .school .right-content .division {
  bottom: 2px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  font-weight: 600;
  margin: 0 10px 0 0;
  position: relative;
}
.result-row .coach {
  color: rgba(0, 0, 0, 0.9);
  font-size: 13px;
  display: block;
  margin-left: 20px;
}
.result-row .coach .name {
  white-space: nowrap;
}
.result-row .coach .email, .result-row .coach .phone {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 20px;
}
.result-row:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.result-row:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.result-row:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.preview-container {
  margin-bottom: 25px;
  position: relative;
}
.preview-container .row .preview-school-list {
  border: 1px solid rgba(0, 0, 0, 0.08);
  max-height: 70vh;
  overflow: auto;
}
.preview-container .school-count {
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  position: absolute;
  text-align: right;
  top: -20px;
}
.preview-container .school-count .number {
  font-weight: 600;
}

.nav-button.send, .nav-button.sending {
  border-color: rgba(37, 89, 132, 0.2);
}
.nav-button.disabled {
  border-color: rgba(192, 192, 192, 0.5);
  color: #c0c0c0;
  font-weight: 500;
}
.nav-button.disabled span {
  --fa-primary-color: auto;
  --fa-secondary-color: auto;
  --fa-secondary-opacity: 0.4;
}
.nav-button.disabled:hover {
  border-color: rgba(192, 192, 192, 0.5);
  color: #c0c0c0;
  font-weight: 500;
  text-shadow: none;
}
.nav-button.disabled:hover span {
  --fa-primary-color: auto;
  --fa-secondary-color: auto;
  --fa-secondary-opacity: 0.4;
}
.nav-button.sending {
  background-color: rgb(239, 239, 239);
  color: #c0c0c0;
  display: inline-block;
  font-weight: 500;
  padding-left: 28px;
}
.nav-button.sending:hover {
  border-color: rgba(37, 89, 132, 0.2);
  color: #c0c0c0;
  text-shadow: none;
}
.nav-button.sending .icon {
  --fa-primary-opacity: 0.4;
  --fa-secondary-opacity: 0.4;
}

.no-role {
  color: firebrick;
  font-size: 13px;
  font-style: italic;
  margin-left: auto;
  width: 85%;
}
.no-role .icon {
  color: indianred;
  float: left;
  font-size: 1.2rem;
  right: -4px;
  top: 1px;
}

.error {
  align-items: center;
  background-color: lightgoldenrodyellow;
  border: 1px solid firebrick;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.4);
  color: firebrick;
  display: flex;
  margin: 0 auto 30px;
  padding: 10px 20px;
  max-width: 80%;
}
.error .icon {
  margin-right: 10px;
}
.error .text a {
  text-decoration: underline;
}
.error .text a:hover {
  text-decoration: underline;
}

.success {
  color: cornflowerblue;
  margin: 0 0 30px 0;
  text-align: center;
}
.success h4 {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}
.success .fad {
  --fa-primary-color: #255984;
  --fa-secondary-color: dodgerblue;
  --fa-secondary-opacity: 0.6;
  margin-right: 5px;
}

.emails-loading {
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #888;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  display: block;
  left: 35%;
  min-width: 20%;
  padding: 13px 20px;
  position: fixed;
  top: 130px;
  z-index: 99999;
}
.emails-loading .spinner {
  --fa-primary-color: #0C6288;
  --fa-secondary-color: #0C6288;
}
.emails-loading .text {
  color: #f47920;
  display: inline-block;
  font-weight: 600;
  position: relative;
  padding: 0 0 0 10px;
  top: -5px;
}

.school-item-preview {
  cursor: pointer;
  padding: 4px 10px;
}
.school-item-preview .school {
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.school-item-preview .coach {
  display: block;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  top: -5px;
  left: 3px;
}
.school-item-preview:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.preview-pane {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #888;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
  display: block;
  padding: 20px;
}
.preview-pane .email-header {
  font-size: 14px;
  margin-bottom: 30px;
}
.preview-pane .email-header label {
  color: #000;
  display: inline-block;
  font-weight: 600;
  margin: 0;
  width: 18%;
}
.preview-pane .email-header .header-item {
  display: inline-block;
}
.preview-pane .coach-button {
  background-color: silver;
  color: #000;
  font-weight: 500;
}
.preview-pane .coach-button.hover-val {
  background-color: #fff !important;
}

.buttons {
  margin: 10px 0 0 0;
}
.buttons .col {
  padding: 0;
}

.nav-button {
  border: 1px solid transparent;
  border-radius: 5px;
  color: #255984;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 600;
  padding: 10px 15px;
}
.nav-button:hover {
  border-color: rgba(37, 89, 132, 0.3);
  color: #255984;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(244, 121, 32, 0.8);
}
.nav-button:hover span {
  --fa-secondary-opacity: 0.8;
}
.nav-button span {
  --fa-primary-color: #255984;
  --fa-secondary-color: #f47920;
  --fa-secondary-opacity: 0.6;
  margin-left: 4px;
}
.nav-button.prev {
  font-weight: 400;
}
.nav-button.prev:hover {
  text-shadow: none;
}
.nav-button.prev span {
  margin-left: 0;
  margin-right: 4px;
}

footer {
  background-color: rgba(216, 218, 219, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: #818182;
  font-size: 13px;
  margin-top: 20px;
  max-height: 30px;
  padding: 6px 2rem 4px;
  text-transform: lowercase;
}
footer .copy {
  color: #003057;
}
footer .name {
  color: #62B0E8;
}
