@model CoachEmailGenerator.Models.EmailTemplate
@{
    ViewData["Title"] = "Home Page";
    var pic = User?.Claims.FirstOrDefault(x => x.Type == "urn:google:picture").Value;
}






<form asp-route="Index" method="post">

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="EmailAddress" />
    <input type="hidden" asp-for="EmailSubjectLine" />

    
    <textarea asp-for="EmailBody"></textarea>

    <input type="submit" value="Save" />
</form>


@foreach (var claim in User.Claims)
{
    <!--<div>
        <span>@claim.Type</span>
        -
        <span>@claim.Value</span>
    </div>-->
}

@if (Context.User.Identity.IsAuthenticated)
{
    <!--<span>Hello @User.Identity.Name</span>-->
}


@section Scripts {
    <script src="~/js/tiny.js" asp-append-version="true"></script>
}